Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow

.gitlab-ci.yml:

# .gitlab-ci.yml
variables:
  IMAGE_NAME: "msprime_box"
  DEF_FILE: "dependencies/msprime_box.def"

stages:
  - build
  - test

build-and-push-image:
  stage: build
  tags:
    - stable
  image:
    name: kaczmarj/apptainer:latest
    entrypoint: [""]
  script:
    - echo "ðŸ”¹ MSprime -> Building msprime_box container from ${DEF_FILE}..."
    - apptainer build --force msprime_box.sif ${DEF_FILE}
    
    - echo "ðŸ”¹ MSprime -> Pushing image ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:"${CI_COMMIT_SHORT_SHA}"
    
    - echo "ðŸ”¹ MSprime -> Pushing image ${IMAGE_NAME}:latest..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:latest
    
    - echo "âœ… MSprime -> Images successfully pushed to registry."
  rules:
    - changes:
        - dependencies/msprime_box.def
    - when: manual
      allow_failure: true

test-workflow:
  stage: test
  tags:
    - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: "${CI_PROJECT_DIR}/.apptainer"
    SINGULARITY_CACHEDIR: "${CI_PROJECT_DIR}/.singularity"
  before_script:
    # Install Apptainer
    - echo "ðŸ”¹ MSprime -> Installing Apptainer..."
    - apt-get update && apt-get install -y wget squashfs-tools
    - wget -q https://github.com/apptainer/apptainer/releases/download/v1.3.0/apptainer_1.3.0_amd64.deb
    - dpkg -i apptainer_1.3.0_amd64.deb || apt-get install -f -y
    - rm apptainer_1.3.0_amd64.deb
    
    # Verify Apptainer is working
    - apptainer --version
    
    # Create conda environment with required packages
    - echo "ðŸ”¹ MSprime -> Creating conda environment..."
    - mamba create -n wf_env -c conda-forge -c bioconda snakemake=8.4.7 snakemake-executor-plugin-slurm -y
    - mkdir slurm_logs
  script:
    # Activate the environment and run the workflow
    - echo "ðŸ”¹ MSprime -> Running MSpangepop workflow..."
    - ./mspangepop local-run 
  rules:
    - changes:
        - dependencies/msprime_box.def
        - workflow/**/*
        - mspangepop  # If the script itself changes
    - when: manual
      allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - .snakemake/log/
      - "*.log"
    expire_in: 1 week

Add: A way to sweeps "sub" params
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Remove: Obsolete code block
  workflow/scripts/visualizer_arg.py
Due: test-workflow

Update : STEAC function
  workflow/scripts/visualizer_arg.py
Due: test-workflow

Fix : missing argument #50
  README.md
Due: none

FIx: Change chanel order, add commented dep in case of failure #50
  .config/wf_env.yaml
Due: none

Fix : The augment function to better handle variant boundaries, be more stringent
  workflow/scripts/draw_variants.py
Due: test-workflow

Remove: exessive verbose
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Add: verbose condition to avoid duplicate prints
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: Log message
  workflow/scripts/io_handler.py
Due: test-workflow

Fix: Path node count to acount for the last node
  workflow/scripts/graph_creation.py
Due: test-workflow

Fix: Graph manipulation for variants, now properly check the boundaries
  workflow/scripts/graph_creation.py
Due: test-workflow

Fix: Issue #50
  .config/wf_env.yaml
Due: none

Update: Output all packages
  workflow/scripts/recap.py
Due: test-workflow

Update: verbose
  .gitlab-ci.yml
Due: none

Update: Verbose
  workflow/Snakefile
Due: test-workflow

Update: Align message
  workflow/scripts/io_handler.py
Due: test-workflow

Update: Verbose
  workflow/scripts/draw_variants.py
  workflow/scripts/expand_sweeps.py
  workflow/scripts/graph_creation.py
  workflow/scripts/input_index.py
Due: test-workflow

Update: Use smooth curve instead of bins, use relative positions
  workflow/scripts/graph_utils.py
Due: test-workflow

Fix : Use -c instead of -j for local rules
  mspangepop
Due: test-workflow

Update: verbose
  workflow/scripts/coalescent_traversal.py
  workflow/scripts/draw_variants.py
  workflow/scripts/graph_utils.py
  workflow/scripts/msprime_simulation.py
  workflow/scripts/recap.py
Due: test-workflow

Update: verbose
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: Test function for step saving
  workflow/scripts/graph_creation.py
Due: test-workflow

Fix: Duplication and Inversion overlap faling to save last edge
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: With right fields name
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: verbose
  workflow/Snakefile
Due: test-workflow

Update: Model
  simulation_data/Isolation_Model.json
  simulation_data/Panmictic_Model.json
Due: none

Update: default scale
  workflow/scripts/visualizer_tree.py
Due: test-workflow

Update: Example config
  .config/masterconfig.yaml
Due: none

Remove: Groups, causing SLURM time issues
  workflow/Snakefile
Due: test-workflow

Update: env file location
  .gitignore
  README.md
  dependencies/wf_env.yaml
Due: none

Remove: sweeps script since we are moving away from it
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Add: New script to handle ranges inside the json file
  workflow/scripts/sample_ranges.py
Due: test-workflow

Update: Relocate all parameters inside the json file
  .config/masterconfig.yaml
Due: none

Update: Models for config overhaul
  simulation_data/Island_Model.json
  simulation_data/Panmictic_Model.json
Due: none

Update: move away from sweeping, use ranges instead
  workflow/Snakefile
Due: test-workflow

Update: Handle new nested params
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: Test file
  small_test_genome.fa.gz
Due: none

Update: Documentation for new config file overhaul and ranges handling
  README.md
  doc/configuration.md
  doc/configuration_master.md
  doc/configuration_model.md
  doc/create_your_model.md
Due: none

Add: parallel to the bob
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Update: Example model
  simulation_data/Chain_Migration_Model.json
  simulation_data/Island_Model.json
  simulation_data/Isolation_Model.json
  simulation_data/Panmictic_Model.json
Due: none
