Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow, pages

build-and-push-image:
  stage: build
  tags:
  - stable
  image:
    name: kaczmarj/apptainer:latest
    entrypoint:
    - ''
  script:
  - echo "    MSprime -> Building msprime_box container from ${DEF_FILE}..."
  - apptainer build --force msprime_box.sif ${DEF_FILE}
  ...

test-workflow:
  stage: test
  tags:
  - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: ${CI_PROJECT_DIR}/.apptainer
    SINGULARITY_CACHEDIR: ${CI_PROJECT_DIR}/.singularity
  before_script:
  - echo "    MSprime -> Creating conda environment..."
  ...

pages:
  stage: deploy
  image: alpine:latest
  script:
  - echo "    MSprime -> Preparing documentation for GitLab Pages..."
  - mkdir -p public
  - cp -r doc/* public/
  - echo "✅ MSprime -> Documentation copied to public/"
  artifacts:
    paths:
    - public

add MSpangenome logo
  doc/MSpangenome_logo.svg
Due: pages

Remove unused imports
  workflow/scripts/graph_creation.py
  workflow/scripts/graph_utils.py
  workflow/scripts/input_index.py
  workflow/scripts/recap.py
  workflow/scripts/split_recombination.py
  workflow/scripts/visualizer_arg.py
Due: none

Fix: handle lowercase + raise error
  workflow/scripts/graph_creation.py
Due: none

Update: the example config with higher mut rate
  simulation_data/Panmictic_Model.json
Due: none

Fix: #63 use VG to lint instead of python
  workflow/Snakefile
  workflow/scripts/graph_creation.py
Due: test-workflow

Fix: #63, use Enum instead of strings for var type
  workflow/scripts/graph_creation.py
Due: none

Fix: #63 remove dead code
  workflow/scripts/graph_creation.py
Due: none

Fix: 63, use a calssical class for SubgraphTempFile and spare the import
  workflow/scripts/graph_creation.py
Due: none

Fix: #63, separate classes def from the graph construction logic
  workflow/scripts/graph_classes.py
  workflow/scripts/graph_creation.py
Due: none

Fix: update graph creation stage to include graph_classes.py
  README.md
Due: none

Fix: #63, move stdlib import to top
  workflow/scripts/io_handler.py
Due: none

Fix: #63, remove deprecated warning
  workflow/scripts/io_handler.py
Due: none

Fix: #63, remove default max workers
  workflow/scripts/io_handler.py
Due: none

Fix: #63, refactor flush_buffer out of with block and replace nonlocal with explicit arguments
  workflow/scripts/io_handler.py
Due: none

Fix: #63, refactor reverse complement logic into graph_utils and update usage in io_handler
  workflow/scripts/graph_classes.py
  workflow/scripts/graph_utils.py
  workflow/scripts/io_handler.py
Due: none

Fix: #63, refactor write_fasta_from_gfa to write FASTA incrementally
  workflow/scripts/io_handler.py
Due: none

Global curated change of mspangepop to mspangenome (except for links)
  .config/masterconfig.yaml
  .gitignore
  .gitlab-ci.yml
  README.md
  dependencies/README.md
  dependencies/msprime_box.def
  doc/configuration_master.md
  doc/configuration_model.md
  doc/go_even_deeper.md
  doc/logo_ms_round.png
  doc/output_files.md
  doc/pipe.png
  doc/pipe.svg
  mspangenome
  workflow/Snakefile
  workflow/scripts/coalescent_traversal.py
  workflow/scripts/draw_variants.py
  workflow/scripts/graph_creation.py
  workflow/scripts/graph_utils.py
  workflow/scripts/input_index.py
  workflow/scripts/io_handler.py
  workflow/scripts/msprime_simulation.py
  workflow/scripts/recap.py
  workflow/scripts/sample_ranges.py
  workflow/scripts/split_recombination.py
Due: build-and-push-image, test-workflow, pages

Fix : image quality
  doc/pipe.png
Due: pages

Add : chmod +x for the new script name
  .gitlab-ci.yml
Due: none

Add apptainer install command
  README.md
Due: none

fix to #66 separate local and slurm
  README.md
Due: none

Add a help and a new -c flag for the masterconfig
  mspangenome
Due: none

Reitive the masterconfig
  workflow/Snakefile
Due: test-workflow

Define specific masterconfig
  workflow/scripts/sample_ranges.py
Due: none

Add doc + fix typo
  doc/configuration_master.md
Due: pages

Update for the expanded config
  .config/masterconfig.yaml
  workflow/Snakefile
  workflow/scripts/sample_ranges.py
Due: test-workflow

Custon config location as -c
  README.md
Due: none

Fix conda complaning msg
  mspangenome
Due: none

New script to run rounds of unchopping on subgrpah
  workflow/scripts/merge_subgraphs.py
Due: none

Update doc
  workflow/scripts/graph_creation.py
Due: none

Unchop loci subrgraphs sequenitaly instead of all at once
  workflow/scripts/graph_creation.py
Due: none

Perform 2nd round of unchopping in order to clenup the last chopped junctions
  workflow/Snakefile
Due: test-workflow

Write the fasta as fragments instead of all at once
  workflow/scripts/io_handler.py
Due: none

Update doc to reflete the unchopping change
  README.md
Due: none

Add VG to the box in order to call it from main script.
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Fix : Batch process the loci in order to not ruin the filesystem
  workflow/Snakefile
  workflow/scripts/graph_creation.py
Due: test-workflow

Have the logs be extracted from snakemake
  workflow/Snakefile
Due: test-workflow

Expand succint flag usage
  workflow/scripts/graph_creation.py
Due: none

Document new options
  .config/masterconfig.yaml
  doc/configuration_master.md
Due: pages

Path conditions:
  build-and-push-image: any of: dependencies/msprime_box.def
  test-workflow: any of: dependencies/msprime_box.def, workflow/Snakefile, mspangepop
  pages: any of: doc/**/*
