Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow

build-and-push-image:
  stage: build
  tags:
  - stable
  image:
    name: kaczmarj/apptainer:latest
    entrypoint:
    - ''
  script:
  - echo "ðŸ”¹ MSprime -> Building msprime_box container from ${DEF_FILE}..."
  - apptainer build --force msprime_box.sif ${DEF_FILE}
  ...

test-workflow:
  stage: test
  tags:
  - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: ${CI_PROJECT_DIR}/.apptainer
    SINGULARITY_CACHEDIR: ${CI_PROJECT_DIR}/.singularity
  before_script:
  - echo "ðŸ”¹ MSprime -> Installing Apptainer..."
  ...

Fix: Conda environement avtivation
  .gitlab-ci.yml
Due: none

Fix: Conda init
  .gitlab-ci.yml
Due: none

Fix: Use source instead of conda init
  .gitlab-ci.yml
Due: none

Fix: Remove login step
  .gitlab-ci.yml
Due: none

Fix: The test step to only run dry mode and avoid container issues
  .gitlab-ci.yml
Due: none

Add: The new logic for GraphEnsemble with improved graph concatenation
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: A lint method to remove all orphan nodes in the graph
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: A new function to export to GVA 1.1 and fix loop function
  workflow/scripts/graph_creation.py
Due: test-workflow

Update : forgemia -> forgeinrae
  workflow/Snakefile
Due: test-workflow

Add : lineages record in the json file, used for graph creation
  workflow/scripts/coalescent_traversal.py
Due: test-workflow

Draft : The main function
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: Filename for clarity
  workflow/scripts/recap.py
Due: test-workflow

Add: The final step, for graph creation
  workflow/Snakefile
Due: test-workflow

Update: test file
  simulation_data/test.tsv
Due: none

Add: The logic to add all variants from the traversal to the graph
  workflow/scripts/graph_creation.py
Due: test-workflow

Add : Two classes to plot the results and to create a recap
  workflow/scripts/graph_utils.py
Due: test-workflow

Fix: The tree bases indexing, add ploting functions
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: The paths to plot and recap files
  workflow/Snakefile
Due: test-workflow

Update: Verbose and file name
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: Verbose and plot info
  workflow/scripts/graph_utils.py
Due: test-workflow

Update: output file names
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: output file name
  workflow/scripts/recap.py
Due: test-workflow

Delete: deprecated file
  workflow/scripts/test.py
Due: test-workflow

Update: Recap and images file names
  workflow/Snakefile
Due: test-workflow

Add: __eq__ logic and draft for merging
  workflow/scripts/graph_creation.py
Due: test-workflow

Add : New algorithm that merge nodes in a graph
  workflow/scripts/graph_merge.py
Due: test-workflow

Delete: Obsolote comments and imports
  workflow/scripts/graph_utils.py
Due: test-workflow

Delete: not working script
  workflow/scripts/graph_merge.py
Due: test-workflow

Update: The test genome
  small_test_genome.fa.gz
Due: none

Update: remove dups for now
  .config/sv_type.yaml
Due: none

Update: The tree indexing
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: A post processing scrit to merge the nodes
  workflow/scripts/gfa_merge.py
Due: test-workflow

Add: The GFA merge to the snakefile
  workflow/Snakefile
Due: test-workflow

Add: Add coments in the header
  workflow/Snakefile
  workflow/scripts/coalescent_traversal.py
  workflow/scripts/draw_variants.py
  workflow/scripts/graph_creation.py
  workflow/scripts/input_validation.py
  workflow/scripts/io_handler.py
  workflow/scripts/matrix.py
  workflow/scripts/split_recombination.py
Due: test-workflow

Add: tskit-arg-visualizer
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Add: Tree visualier step
  workflow/Snakefile
  workflow/scripts/tree_visualizer.py
Due: test-workflow

Update: The verbose to a cleaner look
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: Imporve verbose
  workflow/scripts/split_recombination.py
Due: test-workflow

Add: A new function that saves the json in a non quadratic time
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: File locations
  workflow/Snakefile
Due: test-workflow

Path conditions:
  build-and-push-image: any of: dependencies/msprime_box.def
  test-workflow: any of: dependencies/msprime_box.def, workflow/**/*, mspangepop
