Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow

build-and-push-image:
  stage: build
  tags:
  - stable
  image:
    name: kaczmarj/apptainer:latest
    entrypoint:
    - ''
  script:
  - echo "ðŸ”¹ MSprime -> Building msprime_box container from ${DEF_FILE}..."
  - apptainer build --force msprime_box.sif ${DEF_FILE}
  ...

test-workflow:
  stage: test
  tags:
  - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: ${CI_PROJECT_DIR}/.apptainer
    SINGULARITY_CACHEDIR: ${CI_PROJECT_DIR}/.singularity
  before_script:
  - echo "ðŸ”¹ MSprime -> Installing Apptainer..."
  ...

Fix: The string f"" missing
  workflow/scripts/graph_utils.py
Due: test-workflow

Update: The merge script to be multithreaded
  workflow/scripts/gfa_merge.py
Due: test-workflow

Fix: Bug when length is None
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: Production files
  workflow/scripts/draw_variants.py
Due: test-workflow

Update: Default parameters
  .config/sv_type.yaml
Due: none

Fix: Typo in the var name
  .config/masterconfig.yaml
Due: none

Update: Test genome
  small_test_genome.fa.gz
Due: none

Add: Resources to all rules
  workflow/Snakefile
Due: test-workflow

Update: Describe cicd pipeline
  dependencies/README.md
Due: none

Fix: Typo in log file
  mspangepop
Due: test-workflow

Update: The image to include psutil
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Fix: threads nomenclature
  .config/snakemake/profiles/slurm/config.yaml
Due: none

Remove: Useless print
  workflow/scripts/graph_utils.py
Due: test-workflow

Add: Multihreading for graph saving
  workflow/Snakefile
  workflow/scripts/graph_creation.py
Due: test-workflow

Update: include doc folder
  .gitignore
Due: none

Draft: the pages for the doc
  .gitlab-ci.yml
  doc/index.html
  doc/logo_ms_round.png
Due: none

Remove: Test file
  simulation_data/test.tsv
Due: none

Add: Then env to run the workflwo
  .config/vf_env.yaml
Due: none

Update: the documentation
  README.md
  doc/configuration.md
  doc/go_even_deeper.md
  doc/how_to_run.md
  doc/input_file.md
  doc/output_files.md
  doc/visualisations.md
Due: none

Add: Many cool plots for the simulation
  workflow/scripts/graph_utils.py
Due: test-workflow

Fix: Bug when the interval is smaller than 3 bases
  workflow/scripts/draw_variants.py
Due: test-workflow

Update: Some filenames for clarity
  workflow/Snakefile
Due: test-workflow

Fix: The script to handle NoneType
  workflow/scripts/graph_creation.py
Due: test-workflow

Add: New parameters to modify branch leangth
  workflow/Snakefile
  workflow/scripts/tree_visualizer.py
Due: test-workflow

Add: A comment telling the user this is an archive
  README.md
Due: none

Update: Dependencies for ARG viz
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Update: Rule and script name
  workflow/Snakefile
  workflow/scripts/visualizer_tree.py
Due: test-workflow

Update: Add scipy seaborn
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Update: test genome
  small_test_genome.fa.gz
Due: none

Add: New simple text matrix
  workflow/scripts/matrix.py
Due: test-workflow

Add: a progress tracker and better visualizations
  workflow/scripts/visualizer_tree.py
Due: test-workflow

Update: Record full ARG for visualization
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Add: New function to write fasta file from paths
  workflow/scripts/io_handler.py
Due: test-workflow

Add: New class to compute statistics about orphaned nodes
  workflow/scripts/graph_creation.py
  workflow/scripts/graph_utils.py
Due: test-workflow

Add: Draft for the ARG visualization
  workflow/Snakefile
  workflow/scripts/visualizer_arg.py
Due: test-workflow

Update: Default config
  .config/masterconfig.yaml
Due: none

Update : Now the genome indexing is handled by python
  workflow/Snakefile
  workflow/scripts/input_index.py
  workflow/scripts/input_validation.py
Due: test-workflow

Update! minimal_variant_size -> minimal_sv_length
  workflow/scripts/draw_variants.py
Due: test-workflow

Add: Computation for the average tree of the sequence
  workflow/scripts/visualizer_arg.py
Due: test-workflow

Update: Save P lines instead of W lines
  workflow/scripts/graph_creation.py
Due: test-workflow

Path conditions:
  build-and-push-image: any of: dependencies/msprime_box.def
  test-workflow: any of: dependencies/msprime_box.def, workflow/**/*, mspangepop
