Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow, pages

.gitlab-ci.yml:

# .gitlab-ci.yml
variables:
  IMAGE_NAME: "msprime_box"
  DEF_FILE: "dependencies/msprime_box.def"

stages:
  - build
  - test
  - deploy  # Add deploy stage

# Used to build and upload the image in dependencies/msprime_box.def to the forge
build-and-push-image:
  stage: build
  tags:
    - stable # For some reason we need to use stable -.-
  image:
    name: kaczmarj/apptainer:latest
    entrypoint: [""]
  script:
    - echo "    MSprime -> Building msprime_box container from ${DEF_FILE}..."
    - apptainer build --force msprime_box.sif ${DEF_FILE}
    
    - echo "    MSprime -> Pushing image ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:"${CI_COMMIT_SHORT_SHA}"
    
    - echo "    MSprime -> Pushing image ${IMAGE_NAME}:latest..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:latest
    
    - echo "✅ MSprime -> Images successfully pushed to registry."
  rules:
    - changes:
        - dependencies/msprime_box.def
    - when: manual
      allow_failure: true

# Used to test the workflow
test-workflow:
  stage: test
  tags:
    - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: "${CI_PROJECT_DIR}/.apptainer"
    SINGULARITY_CACHEDIR: "${CI_PROJECT_DIR}/.singularity"
  before_script:
    - echo "    MSprime -> Creating conda environment..."
    - mamba create -n wf_env -c conda-forge -c bioconda snakemake=8.4.7 -y
    - mkdir -p slurm_logs
  script:
    # Activate the environment and run the workflow
    # Don't use conda init, use source activate instead
    - source activate wf_env
    - ./mspangepop dry
  rules:
    - changes:
        - dependencies/msprime_box.def
        - workflow/Snakefile
        - mspangepop
    - when: manual
      allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - .snakemake/log/
      - "*.log"
    expire_in: 1 week

# GitLab Pages deployment
pages:
  stage: deploy
  image: alpine:latest
  script:
    - echo "    MSprime -> Preparing documentation for GitLab Pages..."
    - mkdir -p public
    - cp -r doc/* public/
    - echo "✅ MSprime -> Documentation copied to public/"
  artifacts:
    paths:
      - public
  rules:
    # Deploy when changes are made to doc/ folder on main branch
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - doc/**/*
    # Also allow manual deployment on main branch
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
      allow_failure: true

Update: user can now specify a distribution
  workflow/scripts/sample_ranges.py
Due: none

Add: paralell to the visualization creation
  workflow/Snakefile
Due: test-workflow

Update: Recap with more information
  workflow/scripts/msprime_simulation.py
Due: none

Update: dpi, linewidth and plot names
  workflow/scripts/visualizer_arg.py
Due: none

Update: the doc to include the custom distribution
  doc/configuration_model.md
Due: pages

Update: default config
  .config/masterconfig.yaml
  simulation_data/Panmictic_Model.json
Due: none

Update: the P line of the GFA to satisfy VG
  workflow/scripts/graph_creation.py
Due: none

Add: VG unchop to the workflow
  workflow/Snakefile
Due: test-workflow

Update: Filename
  workflow/Snakefile
Due: test-workflow

Update: Relocate the gfa save function
  workflow/scripts/io_handler.py
Due: none

Add: Multithreading for the graph init and variant embeding
  workflow/scripts/graph_creation.py
  workflow/scripts/graph_utils.py
Due: none

Update: verbose
  workflow/scripts/io_handler.py
Due: none

Fix: reverse complement on inversion
  workflow/scripts/graph_creation.py
Due: none

Edit README.md (typo)
  README.md
Due: none

Remove: ODGI from the workflow, use VG instead
  workflow/Snakefile
Due: test-workflow

Update: add workflow steps and rules
  README.md
Due: none

Update: example to simpler version
  simulation_data/Panmictic_Model.json
Due: none

Update: unmerged -> unchop for clarity
  workflow/Snakefile
Due: test-workflow

Add: header
  workflow/scripts/visualizer_tree.py
Due: none

Update: header
  workflow/scripts/visualizer_arg.py
Due: none

Add: header
  workflow/scripts/graph_creation.py
Due: none

Update: node ids are now added while saving no need for the buffer
  workflow/scripts/graph_utils.py
  workflow/scripts/io_handler.py
Due: none

Update: verbose rate
  workflow/scripts/split_recombination.py
Due: none

Update: handle relative path
  workflow/scripts/io_handler.py
Due: none

Update: Use VG convert instead of VG view for efficiency
  workflow/Snakefile
Due: test-workflow

Fix: typo
  README.md
Due: none

Add License
  LICENSE
Due: none

Move: Test file away form root
  simulation_data/Island_Model.json
  simulation_data/Isolation_Model.json
  simulation_data/Panmictic_Model.json
  simulation_data/small_test_genome.fa.gz
Due: none

Edit README.md
  README.md
Due: none

Add: More memory by default
  workflow/Snakefile
Due: test-workflow

Update: demographic plot to be less a pain to read
  workflow/scripts/msprime_simulation.py
Due: none

Add: max of 100 trees are saved by default
  workflow/scripts/visualizer_tree.py
Due: none

Update: Use numpy C function to compute STEAC matrix faster, improve the plot tree height function to be linear.
  workflow/scripts/visualizer_arg.py
Due: none

Update: verbose
  workflow/scripts/graph_creation.py
Due: none

Update: verbose tick rate
  workflow/scripts/graph_utils.py
Due: none

Remove: paralell from the viz function since time gain is minimal
  workflow/Snakefile
Due: test-workflow

Fix: Typo
  workflow/scripts/visualizer_arg.py
Due: none

Add: better error handling
  workflow/scripts/visualizer_arg.py
Due: none
