Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow

.gitlab-ci.yml:

# .gitlab-ci.yml
variables:
  IMAGE_NAME: "msprime_box"
  DEF_FILE: "dependencies/msprime_box.def"

stages:
  - build
  - test

build-and-push-image:
  stage: build
  tags:
    - stable
  image:
    name: kaczmarj/apptainer:latest
    entrypoint: [""]
  script:
    - echo "ðŸ”¹ MSprime -> Building msprime_box container from ${DEF_FILE}..."
    - apptainer build --force msprime_box.sif ${DEF_FILE}
    
    - echo "ðŸ”¹ MSprime -> Pushing image ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:"${CI_COMMIT_SHORT_SHA}"
    
    - echo "ðŸ”¹ MSprime -> Pushing image ${IMAGE_NAME}:latest..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:latest
    
    - echo "âœ… MSprime -> Images successfully pushed to registry."
  rules:
    - changes:
        - dependencies/msprime_box.def
    - when: manual
      allow_failure: true

test-workflow:
  stage: test
  tags:
    - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: "${CI_PROJECT_DIR}/.apptainer"
    SINGULARITY_CACHEDIR: "${CI_PROJECT_DIR}/.singularity"
  before_script:
    # Install Apptainer
    - echo "ðŸ”¹ MSprime -> Installing Apptainer..."
    - apt-get update && apt-get install -y wget squashfs-tools
    - wget -q https://github.com/apptainer/apptainer/releases/download/v1.3.0/apptainer_1.3.0_amd64.deb
    - dpkg -i apptainer_1.3.0_amd64.deb || apt-get install -f -y
    - rm apptainer_1.3.0_amd64.deb
    
    # Verify Apptainer is working
    - apptainer --version
    
    # Create conda environment with required packages
    - echo "ðŸ”¹ MSprime -> Creating conda environment..."
    - mamba create -n wf_env -c conda-forge -c bioconda snakemake=8.4.7 snakemake-executor-plugin-slurm -y
    - mkdir slurm_logs
  script:
    # Activate the environment and run the workflow
    - echo "ðŸ”¹ MSprime -> Running MSpangepop workflow..."
    - ./mspangepop local-run 
  rules:
    - changes:
        - dependencies/msprime_box.def
        - workflow/**/*
        - mspangepop  # If the script itself changes
    - when: manual
      allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - .snakemake/log/
      - "*.log"
    expire_in: 1 week

Remove: Some verbose
  workflow/scripts/recap.py
Due: test-workflow

Remove: Node names from the recap
  workflow/scripts/graph_utils.py
Due: test-workflow

Update: Reduce the verbose of the logs
  workflow/scripts/io_handler.py
Due: test-workflow

Remove: Some verbose
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: Fix the GFA merge using odgi unchop
  workflow/Snakefile
Due: test-workflow

Update: Test genome
  small_test_genome.fa.gz
Due: none

Update: File location
  simulation_data/sv_type.yaml
Due: none

Remove: Obslete file
  simulation_data/README.md
Due: none

Imporve: ARG visualization for large dataset
  workflow/scripts/visualizer_arg.py
Due: test-workflow

Update: Verbose
  workflow/scripts/draw_variants.py
Due: test-workflow

Fix: Mpl config dir location
  workflow/scripts/recap.py
  workflow/scripts/visualizer_tree.py
Due: test-workflow

Update : Verbose
  workflow/scripts/input_index.py
Due: test-workflow

Fix: Mpl config dir location
  workflow/scripts/graph_utils.py
Due: test-workflow

Add: demesdraw
  dependencies/msprime_box.def
Due: build-and-push-image, test-workflow

Add: Function to handle complex demographic senario
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: Merge Arg viz and Tree viz
  workflow/Snakefile
Due: test-workflow

Update: default config
  .config/masterconfig.yaml
Due: none

Add: Example models
  doc/create_your_model.md
  simulation_data/Chain_Migration_Model.json
  simulation_data/Five_Island_Model.json
  simulation_data/Isolation_Model.json
  simulation_data/Panmictic_Model.json
Due: none

Update: Default parameter
  workflow/scripts/msprime_simulation.py
Due: test-workflow

Update: model parameters
  simulation_data/Isolation_Model.json
Due: none

Update: insland model name
  .config/masterconfig.yaml
  simulation_data/Island_Model.json
Due: none

Remove: gfa merge algorithm, we now use odgi unchop
  workflow/scripts/gfa_merge.py
Due: test-workflow

Update: Exclude expanded config from git
  .gitignore
Due: none

Remove: SV config file, now included in masterconfig
  simulation_data/sv_type.yaml
  workflow/scripts/draw_variants.py
Due: test-workflow

Add: Logic to import an extended config file
  workflow/Snakefile
Due: test-workflow

Add: Script that read the config file and sweeps the multi parameters fields
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Update: logic to import sv types from config
  workflow/Snakefile
Due: test-workflow

Remove: Duplicate information from other recap
  workflow/scripts/recap.py
Due: test-workflow

Update: Relocate imports
  workflow/scripts/io_handler.py
Due: test-workflow

Update: sweep_samples name for clarity
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Add: Seed handling for variants selection
  workflow/scripts/draw_variants.py
Due: test-workflow

Remove: Obsolete file
  doc/index.html
Due: none

Remove: uninformative section
  doc/how_to_run.md
Due: none

Update: Documentation with info on the sweep params
  README.md
  doc/configuration.md
Due: none

Add an example fo the sweep config
  .config/masterconfig.yaml
Due: none

Update: file locations for clarity
  workflow/Snakefile
Due: test-workflow

Add: Comments to the raw code
  workflow/scripts/expand_sweeps.py
Due: test-workflow

Update: Model
  simulation_data/Island_Model.json
Due: none

Update: Model
  simulation_data/Isolation_Model.json
Due: none

Add: A way to identify the thread printing
  workflow/scripts/io_handler.py
Due: test-workflow
