Repository inrae/MSpangepop: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-and-push-image, test-workflow, pages

.gitlab-ci.yml:

# .gitlab-ci.yml
variables:
  IMAGE_NAME: "msprime_box"
  DEF_FILE: "dependencies/msprime_box.def"

stages:
  - build
  - test
  - deploy  # Add deploy stage

# Used to build and upload the image in dependencies/msprime_box.def to the forge
build-and-push-image:
  stage: build
  tags:
    - stable # For some reason we need to use stable -.-
  image:
    name: kaczmarj/apptainer:latest
    entrypoint: [""]
  script:
    - echo "    MSprime -> Building msprime_box container from ${DEF_FILE}..."
    - apptainer build --force msprime_box.sif ${DEF_FILE}
    
    - echo "    MSprime -> Pushing image ${IMAGE_NAME}:${CI_COMMIT_SHORT_SHA}..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:"${CI_COMMIT_SHORT_SHA}"
    
    - echo "    MSprime -> Pushing image ${IMAGE_NAME}:latest..."
    - apptainer push --docker-username "${CI_REGISTRY_USER}" --docker-password "${CI_REGISTRY_PASSWORD}" msprime_box.sif oras://"${CI_REGISTRY_IMAGE}"/${IMAGE_NAME}:latest
    
    - echo "✅ MSprime -> Images successfully pushed to registry."
  rules:
    - changes:
        - dependencies/msprime_box.def
    - when: manual
      allow_failure: true

# Used to test the workflow
test-workflow:
  stage: test
  tags:
    - stable
  image: condaforge/mambaforge:latest
  variables:
    APPTAINER_CACHEDIR: "${CI_PROJECT_DIR}/.apptainer"
    SINGULARITY_CACHEDIR: "${CI_PROJECT_DIR}/.singularity"
  before_script:
    - echo "    MSprime -> Creating conda environment..."
    - mamba create -n wf_env -c conda-forge -c bioconda snakemake=8.4.7 -y
    - mkdir -p slurm_logs
  script:
    # Activate the environment and run the workflow
    # Don't use conda init, use source activate instead
    - source activate wf_env
    - ./mspangepop dry
  rules:
    - changes:
        - dependencies/msprime_box.def
        - workflow/Snakefile
        - mspangepop
    - when: manual
      allow_failure: true
  artifacts:
    when: on_failure
    paths:
      - .snakemake/log/
      - "*.log"
    expire_in: 1 week

# GitLab Pages deployment
pages:
  stage: deploy
  image: alpine:latest
  script:
    - echo "    MSprime -> Preparing documentation for GitLab Pages..."
    - mkdir -p public
    - cp -r doc/* public/
    - echo "✅ MSprime -> Documentation copied to public/"
  artifacts:
    paths:
      - public
  rules:
    # Deploy when changes are made to doc/ folder on main branch
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - doc/**/*
    # Also allow manual deployment on main branch
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual
      allow_failure: true

Update: path names to follow PanSN specs !56
  workflow/scripts/graph_creation.py
  workflow/scripts/io_handler.py
Due: none

Fix: avoid rewriting the config file with each rule...
  workflow/scripts/sample_ranges.py
Due: none

Fix: for #55 process trees in batch to avoid filling the /tmp folder
  workflow/Snakefile
  workflow/scripts/draw_variants.py
Due: test-workflow

Edit README.md - adding link to algorithm descripting poster
  README.md
Due: none

README update from main
  README.md
Due: none

Edit README.md
  README.md
Due: none

README update from dev
  README.md
Due: none

Add: link to msprime doc for #58
  doc/configuration_model.md
Due: pages

Add: new succinct param to skip visualizations
  .config/masterconfig.yaml
  workflow/Snakefile
Due: test-workflow

Remove: Verbose
  workflow/scripts/visualizer_arg.py
Due: none

Update: Tree viz to be more robust, remove clutter
  workflow/scripts/visualizer_tree.py
Due: none

Fix: Path names for PanSN specification #56
  workflow/scripts/io_handler.py
Due: none

Update: Unchopped graph saving to conserve path instead of walks #56
  workflow/Snakefile
Due: test-workflow

Remove: Artefact data structure
  workflow/scripts/graph_creation.py
Due: none

Update: Use time scale for trees
  workflow/scripts/visualizer_tree.py
Due: none

Remove: Obsolete saving functions
  workflow/scripts/io_handler.py
Due: none

Add: Function to save big subgraphs
  workflow/scripts/io_handler.py
Due: none

Add: Method to save small subgraphs (one thread)
  workflow/scripts/io_handler.py
Due: none

Add: Tmp file location for subgraphs
  workflow/Snakefile
Due: test-workflow

Remove: obsolete utils
  workflow/scripts/graph_utils.py
Due: none

Add: Function to merge tmpfiles
  workflow/scripts/io_handler.py
Due: none

Update: increase threads
  workflow/Snakefile
Due: test-workflow

Update: Use io buffer for graph merging
  workflow/scripts/io_handler.py
Due: none

Update: move node id allocation, remove lint
  workflow/scripts/graph_utils.py
Due: none

Remove: iadd, concatenation ocurs later
  workflow/scripts/graph_creation.py
Due: none

Update: No need to print node id
  workflow/scripts/graph_creation.py
Due: none

Big update: Remove GraphEnsemble in favor of tmp files before merging
  workflow/scripts/graph_creation.py
Due: none

Fix: NA types handling
  workflow/scripts/graph_utils.py
Due: none

Update: Doc and examples with new params
  doc/configuration_master.md
  doc/configuration_model.md
  simulation_data/Island_Model.json
  simulation_data/Isolation_Model.json
  simulation_data/zea.json
Due: pages

Update: SV selector with a max count per SV, with 2 pass logic
  workflow/Snakefile
  workflow/scripts/recap.py
  workflow/scripts/sample_ranges.py
Due: test-workflow

Update: SV selector with a max count per SV, with 2 pass logic
  workflow/scripts/draw_variants.py
Due: none

Fix: Bug when seed is NA
  workflow/scripts/io_handler.py
Due: none

Fix: dataset path
  simulation_data/Panmictic_Model.json
Due: none

Update: default slurm values
  mspangepop
Due: test-workflow

Update: max slurm jobs
  .config/snakemake/profiles/slurm/config.yaml
Due: none

Update: default resources
  workflow/Snakefile
Due: test-workflow

Update: readme format
  README.md
  simulation_data/zea.json
Due: none
